body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Roboto Medium',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #515A5A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #884EA0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #633974;
}
@font-face {
  font-family: 'aAtmospheric';
  font-style: normal;
  src: url('./assets/aAtmospheric.ttf');
}